---
title: Home
---

<div class="container">
  <h1 class="text-center">LOGIC</h1>
  <h2>Issues</h2>
  <ul class="list-inline">
    <% issues.each do |issue| %>
      <li>
        <a href="<%= issue_path(issue) %>">
          <img class="img-thumbnail" src="<%= issue.cover_image.url %>" style="max-width: 200px;" />
        </a>
      </li>
    <% end %>
  </ul>
</div>
